body { background: #5B6B2A url(lime.jpg) no-repeat top center fixed; }

h2 small,
.detail,
.button a:hover {
	color:#C4DF6F;
}

/* lines */

h2,
#sidebar li {
	
}

#name {
	
}

.sub {
	
}

.detail {
	background: url(angle-white.gif) no-repeat;
}

#sidebar ul {
	
}

#details_wrap  {
	border-top:1px solid #f4f4f4;
}